 @import '../base/colors', '../base/variables';

 header {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    div {
        margin-top: 2px;
        width: auto;
        height: auto; 

        img {
            width: 100px;
        }
    }

    div {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        nav {
            div {
                    /*Acá hay un <a> y un <button> del toggle bar*/
                div {
                    ul {
                        li {
                            list-style-type: none;
                            font-size: small;
                            font-weight: bold;
    
                            margin-left: 10px;
                            padding: 0px 20px;
                            margin-top: 10px;
                            border: 1px solid rgba(177, 22, 130, 0.3);
                            border-radius: 20px;
                            box-shadow: inset 0px 0px 70px 0px rgba(225, 160, 190, 1);
                            
                            &:hover {
                                box-shadow: inset 0px 0px 42px 0px rgba(255, 240, 245, 1);
                                color: black;
                             }
                        
                            a {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
                                                        }
            

        }
    }
}



