@import '../base/colors';

main {

    #home {
        width: 100%;
        height: 700px;

        .home_title {
            margin: 0px 0px 0px 20px;
            box-sizing: border-box;
            line-height: 30px;
            font-size: large;
            color: #000;
            animation: cssAnimation_0 3000ms 1 ease;
            text-shadow: 0px 0px 8px rgb(255, 255, 255);

            h1 {}

            p {}
        }

        .image_cover {
            background-image: url(/images/home_cover.jpg);
            min-height: 500px;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
        }

        @keyframes cssAnimation_0 {
            from {
                transform: translate(200px);
            }

            to {
                transform: translate(0px);
            }
        }
    }

    #tratamientos {
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: -100px;

        .flip_card {
            background-color: transparent;
            width: 404px;
            height: 304px;
            perspective: 1000px;
            display: inline-block;
            align-items: center;


            .card {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;

                &:hover {
                    transform: rotateY(180deg);
                }

                .front {
                    position: absolute;
                    width: 100%;
                    backface-visibility: hidden;
                    color: black;
                    height: 100%;

                    img {
                        width: 400px;
                        height: 300px;
                        border: 2px solid;
                        border-color: #de95a7;
                        border-radius: 10px;
                    }

                    h2 {
                        position: absolute;
                        bottom: 100%;
                        color: black;
                    }
                }

                .back {
                    position: absolute;
                    width: 100%;
                    height: 300px;
                    backface-visibility: hidden;
                    background-color: $bg-general;
                    color: #000;
                    transform: rotateY(180deg);
                    border: 2px solid;
                    border-color: #e7e6e9;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    border-radius: 10px;

                    ul {
                        width: 100%;
                        padding: 0px;
                        list-style-type: none;
                        display: flex;

                        li {
                            list-style-type: none;
                            margin: 2px;
                            text-align: center;
                            font-size: large;
                            font-weight: bold;
                            background-color: rgb(231, 230, 233, 0.5);
                        }
                    }
                }
            }
        }
    }

    #turnos {
        div {
            h2 {}

            h3 {}

            a {}
        }
    }

    #ubicación {
        .ubicación_mapa {
            iframe {}
        }
         .ubicacion_contacto {
            h2 {}
            input {}
            textarea {}
            button {}
         }
    }
}